<nav class="nav">
    <a th:href="@{/}">
        <img src="/logo-circleonly-png.png" width="100" height="100" alt="logo" class="logo-img">
    </a>
    <ul class="navlinkswrapper">
            <li class="nav-item">
                <a class="nav-link nav-links" th:href="@{/home}" th:text="HOME"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-links" th:href="@{/about}" th:text="ABOUT"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-links" th:href="@{/contact}" th:text="CONTACT"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-links" th:href="@{/book}" th:text="BOOK"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-links" th:href="@{/partners}" th:text="PARTNERS"></a>
            </li>
        </ul>
    <div class="padding">
        <a href="https://www.instagram.com/dearlybelovedphotographer/" target="_blank">
            <img src="/iglogo.png" width="35" height="35" alt="instagram">
        </a>
        <a href="https://www.facebook.com/profile.php?id=61550850638212" target="_blank">
            <img src="/fblogo.png" width="35" height="35" alt="facebook">
        </a>
    </div>
</nav>