<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
    <nav th:replace="~{fragments/nav}"></nav>

    <div th:replace="~{fragments/background}"></div>

    <div id="content" class="d-flex flex-row flex-wrap mt-5 scrollable-content justify-content-center">
        <div class="m-2" th:each="image : ${images}">
            <img th:src="'data:image/jpeg;base64,' + ${image}" alt="Image" />
        </div>
    </div>

    <footer th:replace="~{fragments/footer}"></footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

